<h1> Bienvenido a UnaGauchada </h1>
<h3> ¿Qué desea hacer? </h3>
<ul>
  <li> <%= link_to "Iniciar Sesión", new_usuario_session_path %></li>
  <li> <%= link_to "Cerrar Sesión", destroy_usuario_session_path, :method => :delete %></li>  
  <li> <%= link_to "Registrarme", new_usuario_registration_path %></li>  
</ul>