<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Título</th>
			<th>Foto</th>
		</tr>
	</thead>
	<tbody>	
		<% favores = Favor.all %>
		<% favores.each do |f| %>
		<% string = "favor_"+f.id.to_s+".png"%>
		<tr>
			<td><%= link_to f.titulo, favore_path(:id => f.id)%></td>
			<td><%= image_tag string, title: "FotoGau", class:"listadogau"%></td>
		</tr>
		<% end %>
	</tbody>	
</table>
</div>
