<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Título</th>
			<th>Foto</th>
		</tr>
	</thead>
	<tbody>	
		<% favores = Favor.all %>
		<% favores.each do |f| %>
		<% string = "favor_"+f.id.to_s+".png"%>
		<tr>
			<td><%= f.titulo%></td>
			<td><%= image_tag string, title: "FotoGau", class:"listadogau"%></td>
			<td><% if usuario_signed_in? %>
				<%= link_to "Ver Detalle", favore_path(:id => f.id), class: 'btn btn-warning btn-xs' %>
				<% else %>
				<%= link_to "Ver Detalle", favore_path(:id => f.id), class: 'btn btn-default btn-xs disabled' %>
				<% end %>
				</td>
		</tr>
		<% end %>
	</tbody>	
</table>
</div>
