<%= link_to "Volver", gauchadas_path, class: 'btn btn-info btn-xs' %>
<br>
<br>
<% if usuario_signed_in? %>
<p>"hola"</p>
<% string = "Esta es la gauchada "+@favor.id.to_s %>
<p><%= string%></p>
