<div class = "border-list-div-compras" style="overflow: auto">
<dl class="row">
	<h2 class="text-center"> Confirmar operacion de <%= @c.monto * 12 %>$ por <%= @c.monto %> puntos. </h2>
	<hr/>

</dl>
	<div style="float: left;">
		<%= link_to "Cancelar", compras_path , class: 'btn btn-danger btn-lg' %>
	</div>
	<div style="float: right;">
		<%= link_to "Confirmar", compras_agregar_path(:monto => @c.monto, :n_tarjeta => @c.n_tarjeta, :mes => @c.mes, :ano => @c.ano, :cvv => @c.cvv), class: 'btn btn-success btn-lg' %>
	</div>
					 
</div>