<% if usuario_signed_in? %>
	<div class="row">
		<div class="border-list-div-compras-title">

			<h3 class="text-center text-white"> Bienvenido a la tienda de gauchadas! </h3>
		</div>

	</div>
	<br/>
	<div class = "border-list-div-compras" style="overflow: auto">
	<dl class="row">
		<h4 class="col-md-12">  De momento en la tienda tenemos la opcion de donar. Aqui te listamos las dudas que se podrian llegar a presentar, asi como los beneficios: </h4>
		<hr/>
		<div class="col-xs-12"> </div>
		<dt class="col-sm-3 text-center"> ¿Por que donar? </dt>
		<dd class="col-sm-9"> Porque de este modo ayudas a mejorar la pagina, permitiendo que nosotros nos podamos dedicar enteramente al mantenimiento y asi brindar cada día un mejor servicio. </dd>
		<div class="col-xs-12"> </div>
		<dt class="col-sm-3 text-center"> ¿Que metodos de pago aceptan? </dt>
		<dd class="col-sm-9"> De momento solo aceptamos tarjetas de credito. </dd>
		<div class="col-xs-12"> </div>
		<dt class="col-sm-3 text-center"> ¿Qué obtengo al donar? </dt>
		<dd class="col-sm-9"> Al donar obtienes puntos para tu cuenta, con los cuales podras solicitar nuevos favores! </dd>
		<div class="col-xs-12"> </div>
		<dt class="col-sm-3 text-center"> ¿Cuanto puedo donar? </dt>
		<dd class="col-sm-9"> Puedes donar un minimo de "$12" con lo que obtendras 1 punto, despues cada "$12" que dones obtendras otro punto.
		<div class="col-xs-12"> </div>
		<dt class="col-sm-3 text-center"> ¿Cuanto duran los puntos que done? </dt>
		<dd class="col-sm-9"> Los puntos que dones duraran para siempre o hasta que los gastes pidiendo un favor. </dd>
		<div class="col-xs-12"> </div>
		<dt class="col-sm-3 text-center"> ¿Como donar? </dt>
		<dd class="col-sm-9"> Para donar tienes que hacer click en el link en la parte inferior de esta pantalla, luego completar la planilla de pago. </dd>
		<div class="col-xs-12"> </div>

	</dl>
		<div style="float: left;">
			<%= link_to "Volver", root_path , class: 'btn btn-info btn-lg' %>
		</div>
		<div style="float: right;">
			<%= link_to "Comprar", {:controller => "compras", :action => "new"}, class: 'btn btn-default btn-lg' %>
		</div>
						 
	</div>
<% else %>
	<div class="border-gau-md container-fluid">
		<h3> Error </h3>
		<p> La tienda solo esta disponible para usuarios registrados</p>
		<div class="row">
			<div class="col-md-12" style="float: center;"">
				<%= link_to "Aceptar", root_path , class: 'btn btn-info btn-lg' %>
			</div>
		</div>
	</div>
<% end %>
	