/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .error {
  color: #B71C1C;
  font-style: italic;
}

.first-column{
  width: 49%;
  float: left;
}

.en-blanco{
  color: white;
}

.second-column{
  width: 49%;
  float: right;
}

.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.align-btn-bottom{
    height: 70px; 
    text-align:right;
    line-height: 100px;
  }

.align-btn-bottom-sm{
    height: 40px; 
    text-align:right;
    line-height: 70px;
}


.align-btn-center{
    margin-left: -150px;
    height: 53px; 
    text-align:center;
    line-height: 53px;
  }


.image-container-prof {
  overflow: hidden;
  height: 216px;
  width: auto;
  border: 5px solid #f1f1f1;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.image-container-not-col {
  overflow: hidden;
  height: 71px;
  width: 71px;
  border: 3px solid #e5e5e5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.image-container-nav {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border: 3px solid #e5e5e5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}


.image-container {
  overflow: hidden;
  height: 71px;
  width: 71px;
  border: 3px solid #e5e5e5;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.row{
  overflow: hidden; 
}

.border-gau-sm {
  max-width: auto;
  padding: 13px 15px 10px;
  margin: 10px 5px 10px;
  background-color: #f9fafb;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.border-gau-md {
  max-width: auto;
  padding: 13px 25px 5px;
  margin: 15px auto 15px;
  background-color: #f9fafb;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-list-div {
  max-width: auto;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-element-div {
  max-width: auto;
  padding: 5px 50px 29px;
  margin: 0 auto 20px;
  background-color: #e5e5e5;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-element-sm-div {
  max-width: auto;
  padding: 0px 20px 10px;
  margin: 0 auto 20px;
  background-color: #e5e5e5;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="number"],
.border-form-div input[type="password"] {
  font-size: 16px;
  width: 240px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.img-xl{
  object-fit: contain;
  width: 420px;
}

.img-lg{
  object-fit: contain;
  height: 210px;
}

.img-md{
  object-fit: cover;
  height: 65px;
  width: 65px;
}

.img-sm{
  object-fit: cover;
  height: 44px;
  width: 44px;
}

*= require bootstrap/bootstrap-rails-popover
*= require bootstrap/bootstrap-rails-tooltip
