// Place all the styles related to the Compras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-md-4-orange{
	background-color: #E7973C;
}

.row-orange{
	background-color: #e1ab6f;
}

.text-white{
	color: #ffffff
}