// Place all the styles related to the Compras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-md-4-orange{
	background-color: #E7973C;
}

.row-orange{
	background-color: #e1ab6f;
}

.text-white{
	color: #ffffff
}

.border-list-div-compras-title {
  max-width: auto;
  padding: 0px 20px 10px;
  margin: 0 auto 20px;
  background-color: #E7973C;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.border-list-div-compras {
  max-width: auto;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #e1ab6f;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
