/*--- Fondo de la imagen ---*/
$bgDefault      : #ffffff;
/*--- Linea que delimita la barra de arriba ---*/
$bgHighlight    : #0000ff;
$colDefault     : #ff0000;
$colHover       : #00ff00; 

body {
  padding-top: 0px;
}

damn{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 130px;
}

#header{
    left: 50%;
    margin-left: 0px;
}

header {
  .navbar-text {
  	color: white;
    font-size: 5em;
    float: none;
  }
   
  .navbar-brand {
    height: 0px;
  }
}

.form-control {
	margin-bottom: 5px;
}



/* --- Style --- */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-text {
        color: $colDefault;
        text-decoration: none !important;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}