.navbarcustom{
  background-color: #e7973c;
  border-color: #d07b2b;
}
.navbar-brand {
  color: #fff;
  font-size: 32px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #ecf0f1;
}

.link{
  background-color: #e7973c !important;
  padding-top: 3px;
  padding-right: 10px;
  color: #fff;
  text-align: right; 
}
.link-text{
  color: #fff;
}

.link-text:hover,
.link-text:focus {
  text-decoration: none;
  color: #ecf0f1;
}

.boton {
  color: #fff;
}

.boton:hover,
.boton:focus {
  color: #ecf0f1;
  background-color: #d07b2b;
}

.boton > .open > a > table,
.boton > .open > a > table:hover,
.boton > .open > a > table:focus {
  color: #ecf0f1; 
  background-color: #d07b2b;
}

.boton > .active > a > table,
.boton > .active > a > table:hover,
.boton > .active > a > table:focus {
  color: #ecf0f1; 
  background-color: #d07b2b;
}