	<p>Hola <%= @duenogau.nombre.capitalize %>!</p>
	<p>El usuario <b><%= @remitente.nombre.capitalize%> <%= @remitente.apellido.capitalize%></b> ha hecho un comentario en tu gauchada "<%=@favor.titulo%>":</p>
	<p><i> @comentario.texto </i></p>
	
<p>Saludos cordiales,</p>

<p>Equipo de Una Gauchada</p>