<h3> Hola, <%= @user.nombre.capitalize %>!</h3>
<p>Has perdido <b>1 punto</b> por no resolver la gauchada <b>"<%=@gauchada.titulo%>"</b>!!</p>
<p>Como recordatorio: el equipo de UnaGauchada no se hace cargo por un resultado erróneo de una gauchada, ya que esto es responsabilidad del solicitante y del candidato elegido.</p>
<br>
<br>

<p>Saludos cordiales,</p>

<p>Equipo de Una Gauchada</p>