<h3> Hola, <%= @user.nombre.capitalize %>!</h3>
<p>Has ganado <b>1 punto</b> por resolver la gauchada <b>"<%=@gauchada.titulo%>"</b>!!</p>
<br>
<br>
<p> Muchas gracias! </p>

<p>Saludos cordiales,</p>

<p>Equipo de Una Gauchada</p>