<header>
    <div id="header">
        <%= image_tag "header2.png", title: "Logo", class: "damn" %> 
    </div> 
    <div class="container-fluid">
   	 	<div class="col-md-2"></div>
    	<div class="col-md-2"></div>
    	<div class="col-md-2"></div>
    	<div class="col-md-2"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-2" align="right">
    		<% if usuario_signed_in? %>
    			<p style="color:white">Logeado como <%= current_usuario.nombre%> <%=current_usuario.apellido%></p>
    			<p style="color:white"><% if current_usuario.admin %> Usuario Administrador <%else%> Usuario Registrado <%end%></p>
    		<%end%>
    	</div>
`	</div> 
</header>



