<header>
    <div id="header">
         
        <%= link_to root_path do %>
            <%= image_tag "header2.png", title: "Logo", class: "damn" %>
        <% end %>

    </div> 
    <div class="container-fluid">
   	 	<div class="col-md-2"></div>
    	<div class="col-md-2"></div>
    	<div class="col-md-2"></div>
    	<div class="col-md-2"></div>
    	<div class="col-md-1"></div>
    	<div class="col-md-2" align="right">
    		
    	</div>
`	</div> 
</header>



